<html >
    <head>
        <title>face detect</title>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/jquery.facedetection.min.js"></script>
    </head>
    <body>
        <div class="booth" style="position: absolute;left:50%;top:50%;transform:translate(-50%,-50%); ">
            <video id="video" width="400" height="300" muted class="abs" ></video>
            <canvas id="canvas" width="400" height="300"></canvas>
            <input id="username" type="text"/>
            <button id="detect">detect</button>
            <button id="search">search</button>
            <button id="restart">restart</button>
          </div>
    </body>
    <script type="text/javascript">
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById("video");
    var vendorUrl = window.URL || window.webkitURL;
    //媒体对象
    navigator.getMedia = navigator.getUserMedia || navagator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
    navigator.getMedia({video: true, 
    //使用摄像头对象
    audio: false
    //不适用音频
   
    }, function(stream){
        video.srcObject=stream;
        video.play();
    },
    function(e){
        console.log("error :",e)
    });
    is_stop=false
    video.ontimeupdate=function () {
                if(is_stop) return
                context.drawImage(video, 0, 0, video.width, video.height);
                var base64 = canvas.toDataURL('images/png');
                $('#canvas').faceDetection({
                    complete: function (faces) {
                        if(faces.length>=1){
                            is_stop = true;
                            //draw_face_box(faces)
                            //upload(base64)

                        }
                        //console.log(faces)
                    }
                });
            }

    
    function draw_face_box(faces) {
                var rect;
                var i;
                //context.clearRect(0, 0, canvas.width, canvas.height);
                for(i=0;i<faces.length;i++) {
                    rect = faces[i];
                    context.strokeStyle = '#a64ceb';
                    if(rect.width<60) return
                    context.strokeRect(rect.x, rect.y, rect.width, rect.height);
                    context.font = '11px Helvetica';
                    context.fillStyle = "#fff";
                    context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11);
                    context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22);
                }
                is_stop = true;
            }

            //上传人脸图片
    function upload(base64) {
        $.ajax({
                "type":"POST",
                "url":"/store",
                "data":{img:base64,username:$("#username").val()},
                'dataType':'json',
                beforeSend:function(){},
                success:function(result){
                    console.log(result)
                    alert(result)
                    }
                });
            }
    function search(base64) {
        $.ajax({
                "type":"POST",
                "url":"/search",
                "data":{img:base64},
                'dataType':'json',
                beforeSend:function(){},
                success:function(result){
                    console.log(result)
                    alert(result)
                    }
                });
            }
    $("#restart").on("click",function(e){
        is_stop = false
    })
    $("#detect").on("click",function(e){
        //context.drawImage(video, 0, 0, video.width, video.height);
        var base64 = canvas.toDataURL('images/png');
        upload(base64);
    })
    $("#search").on("click",function(e){
        //context.drawImage(video, 0, 0, video.width, video.height);
        var base64 = canvas.toDataURL('images/png');
        search(base64)
    })
    </script>
</html>